<header>
    <toolbar></toolbar>
</header>

<body [ngSwitch]="people.length">

    <div *ngSwitchDefault>
        <table>
            <tr>
                <th>
                    <h1>Collection</h1>
                </th>
            </tr>
            <tr *ngFor="let people of people">
                <mat-card>
                    <mat-card-title>{{ people.name }}</mat-card-title>
                    <mat-card-subtitle style='display:none'>{{ people.id }}</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            {{ people.resume }}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button (click)=deletePeople(this.people.id)><i class="material-icons">delete</i></button>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/{{people.name}}">
                            <button mat-icon-button><i class="material-icons">info</i></button></a>
                    </mat-card-actions>
                </mat-card>
            </tr>
        </table>
    </div>

    <div style="margin-left: 665px" *ngSwitchCase="'0'">
        <h1>Nobody found!</h1>
        <a href="/addPeople"><button mat-button style="margin-left: 15px">Let's add some People</button></a>
    </div>

</body>