<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color='primary'>

  <a class="title-spacer" href="/home">People-Collector </a>

  <div class="buttons-spacer">
  <button mat-icon-button class="button">
    <a  href="/addPeople">
      <mat-icon class="icon">person_add</mat-icon>
    </a>
  </button>

  <button mat-icon-button class="button">
    <a href="/collection">
      <mat-icon class="icon">list</mat-icon>
    </a>
  </button>
</div>

</mat-toolbar>